//
   Created by 邹兵 on 2016/2/10.

doctype html
html
   head
      title=title
      meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      link(rel='stylesheet', href='/stylesheets/3dmzt/style.css')
      link(rel='stylesheet', href='/stylesheets/amaze.min.css')
      link(rel='stylesheet', href='/stylesheets/amazeui.min.css')
      script(src='/javascripts/jquery.min.js')
   body(class="amz-index")
      block content
      p(style="padding-top:10px;")
         div(id='head' class="am-g" style="padding-top:10px;text-align:center;")
      div(id='main' class="am-u-lg-6 am-u-md-8 am-u-sm-centered" style="margin-left: auto;margin-right: auto;")
      script(src='/javascripts/3dmzt/main.js')
