//
   Created by 邹兵 on 2016/2/10.

doctype html
html
   head
      title=title
      meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      link(rel='stylesheet', href='/stylesheets/3dmzt/style.css')
      link(rel='stylesheet', href='/stylesheets/amaze.min.css')
      link(rel='stylesheet', href='/stylesheets/amazeui.min.css')
      link(rel='stylesheet', href='/stylesheets/3dmzt/page.css')
      script(src='/javascripts/jquery.min.js')
   body(class="amz-index")
      block content
      div(id='process' class="page-alert-text")
      h1(id='header' lass="am-u-lg-6 am-u-md-8 am-u-sm-centered")
      div(id='main' class="am-u-lg-6 am-u-md-8 am-u-sm-centered")
      div(id="page-no" class="page-no-text am-u-lg-6 am-u-md-8 am-u-sm-centered" style="text-align:center;") 第 1/1 页
      div(class="am-u-lg-6 am-u-md-8 am-u-sm-centered" style="text-align:center;")
         span
            button(id="bu-last" type="button" class="am-btn am-btn-default btn-loading-example" onclick="leftPage()") 上一页
         span
            button(id='bu-refresh' type="button" class="am-btn am-btn-default btn-loading-example" onclick="refreshPage()") 刷新
         span
            button(id="bu-next" type="button" class="am-btn am-btn-default btn-loading-example" onclick="rightPage()") 下一页
      script(src='/javascripts/3dmzt/page.js')
